html, body {
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    
}

section {
width: 100vw;
height: 100vh;


}

.one {
background-image: url(./assets/vår.webp);
background-size: cover;
background-position: center;



}

.two {
background-image: url(./assets/sommar.jpg);
background-size: cover;


}

.three {
background-image: url(./assets/höst.jpg);
background-size: cover;

}

.four {
background-image: url(./assets/vinter.jpg);
background-size: cover;

}

p {
    color: white;
    font-size: 400%;
    
}



@media screen and (min-width: 768px) {
    .container {

        flex-direction: row;
        justify-content: space-between;
        
        
    }

    section {
        display: flex;
    justify-content: center;
    align-items: center;
    }

    
}